#logContainer
{
  position: relative;
  height: 100%;
}

#logTable
{
  height: 800px;
}

#logDiv
{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: calc( 100% - 25px );

}

#column1, #logTable
{
  width: 100%;
}

#logDiv tr:hover
{
  background-color: gray;
}

#logDiv Th
{
  background: dimgray;
}
