#seekPinDiv, #navigationDiv
{
  height: 85px;
}

#seekPinDiv input
{
  width: 75px;
}

#navigationDiv button
{
  width: 65px;
}

.incrementer h3
{
  display: block;
  width: 20px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
}