div.jog
{
  width: 165px;
  margin: auto;
}

button.jog
{
  font-size: 150%;
  float: left;
}

#headControlDiv
{
  width: 240px;
}

#headControlDiv button
{
  width: 110px;
}

#position
{
  float: left;
  margin-right: 10px;
}

#speedDiv
{
  width: 145px;
}

#navigation button, #speedDiv button
{
  width: 65px;
}
